<!DOCTYPE html>
<html>
<head>
    <title>Catalogo de Productos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">
    <style>
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <title>Productos</title>
    <div class="center-content">
        <div class="container">
            <h1 class="text-center">Catálogo de Productos</h1>

            <div class="row row-cols-3">
                {% for producto in productos %}
                <div class="col mb-4">

                    <div class="card">
                        
                            <img src="{{ producto.imagen_producto }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ producto.nombre_producto }}</h5>
                                <p class="card-text">Marca: {{ producto.marca_producto }}</p>
                                <p class="card-text">Color: {{ producto.color_producto }}</p>
                                <p class="card-text">Precio: ${{ producto.precio_producto }}</p>
                            <form action="{{ url_for('agregar_carrito') }}" method="post">
                                <input type="hidden" name="producto_id" value="{{ producto.id_producto }}">
                                <input type="hidden" name="nombre" value="{{ producto.nombre_producto}}">
                                <input type="hidden" name="precio" value="{{ producto.precio_producto }}">
                                <button type="submit">Agregar al carrito</button>
                            </form>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
       
    </div>

    <script src="../static/scripts.js"></script>
</body>
</html>