<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>mmerce Template</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet" />
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="static\css\bootstrap.min.css" />
    <link rel="stylesheet" href="static\css\all.min.css" />
    <link rel="stylesheet" href="static\css\style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row min-vh-100">
        <div class="col-12">
          <header class="row">
            <!-- Top Nav -->
            <div class="col-12 bg-dark py-2 d-md-block d-none">
              <div class="row">
                <div class="col-auto me-auto">
                  <ul class="top-nav">
                    <li>
                      <a href="tel:+123-456-7890"
                        ><i class="fa fa-phone-square me-2"></i>+56 9
                        23231112</a
                      >
                    </li>
                    <li>
                      <a href="mailto:mail@ecom.com"
                        ><i class="fa fa-envelope me-2"></i
                        >mail@MusicMasterPro.cl</a
                      >
                    </li>
                  </ul>
                </div>
                {% if nombre_usuario %}
                <div class="col-auto">
                <ul class="top-nav">
                    <li>
                    <a href="#"
                        > Bienvenido, {{ nombre_usuario }}
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}"><i class="fas fa-user-edit me-2"></i>Cerrar Sesión</a>
                    </li>
                </ul>
                </div>
                {% else %}
                <div class="col-auto">
                  <ul class="top-nav">
                    <li>
                      <a href="register.html"
                        ><i class="fas fa-user-edit me-2"></i>Registro</a
                      >
                    </li>
                    <li>
                      <a href="{{ url_for('login') }}">
                        <i class="fas fa-sign-in-alt me-2"></i>Login</a
                      >
                    </li>
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
            <!-- Top Nav -->

            <!-- Header -->
            <div class="col-12 bg-white pt-4">
              <div class="row">
                <div class="col-lg-auto">
                  <div class="site-logo text-center text-lg-left">
                    <a href="{{ url_for('mostrar_productos') }}">Music-Pro</a>
                  </div>
                </div>
                <div class="col-lg-5 mx-auto mt-4 mt-lg-0 mb-3">
                  <form action="#">
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          type="search"
                          class="form-control border-dark"
                          placeholder="Search..."
                          required
                        />
                        <button class="btn btn-outline-dark">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div
                  class="col-lg-auto text-center text-lg-left header-item-holder"
                >
                  <a href="#" class="header-item">
                    <i class="fas fa-heart me-2"></i
                    ><span id="header-favorite"></span>
                  </a>
                  <a href="{{ url_for('carrito') }}" class="header-item">
                    <i class="fas fa-shopping-bag me-2"></i
                    ><span id="header-qty" class="me-3"></span>
                    <i class="fas fa-money-bill-wave me-2"></i
                    ><span id="header-price">Carrito de compras</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Header -->
          </header>
        </div>

        {% block content %}
        <!-- Featured Products -->
        <div class="col-12">
          <div class="row">
            <div class="col-12 py-3">
              <div class="row">
                <div class="col-12 text-center text-uppercase">
                  <h2>Catálogo de Productos</h2>
                </div>
              </div>
              <div class="row">
                <!-- Product -->
                {% for producto in productos %}
                <div class="col-lg-3 col-sm-6 my-3">
                  <div class="col-12 bg-white text-center h-100 product-item">
                    <div class="row h-100">
                      <div class="col-12 p-0 mb-3">
                        <a href="product.html">
                          <img
                            src="{{ producto.imagen_producto }}"
                            class="img-fluid"
                            alt="{{ producto.nombre_producto }}"
                          />
                        </a>
                      </div>
                      <div class="col-12 mb-3">
                        <h5 class="card-title">
                          {{ producto.nombre_producto }}
                        </h5>
                        <p class="card-text">
                          Marca: {{ producto.marca_producto }}
                        </p>
                        <p class="card-text">
                          Color: {{ producto.color_producto }}
                        </p>
                        <p class="card-text">
                          Precio: ${{ producto.precio_producto }}
                        </p>
                        <a href="product.html" class="product-name"
                          >Sony Alpha DSLR Camera</a
                        >
                      </div>

                      <div class="col-12 mb-3">
                        <form
                          action="{{ url_for('agregar_al_carrito') }}"
                          method="post"
                        >
                          <input
                            type="hidden"
                            name="producto_id"
                            value="{{ producto.id_producto }}"
                          />
                          <input
                            type="hidden"
                            name="nombre"
                            value="{{ producto.nombre_producto}}"
                          />
                          <input
                            type="hidden"
                            name="precio"
                            value="{{ producto.precio_producto }}"
                          />
                          <button class="btn btn-outline-dark" type="submit">
                            <i class="fas fa-cart-plus me-2"></i>Agregar al
                            carrito
                          </button>
                        </form>
                      </div>
                      <div class="col-12 mb-3 align-self-end"></div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- Product -->
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
        <main class="row">
          <!-- Featured Products -->
          <div class="col-12">
            <hr />
          </div>
          <div class="col-12 py-3 bg-light d-sm-block d-none">
            <div class="row">
              <div class="col-lg-3 col ms-auto large-holder">
                <div class="row">
                  <div class="col-auto ms-auto large-icon">
                    <i class="fas fa-money-bill"></i>
                  </div>
                  <div class="col-auto me-auto large-text">El mejor precio</div>
                </div>
              </div>
              <div class="col-lg-3 col large-holder">
                <div class="row">
                  <div class="col-auto ms-auto large-icon">
                    <i class="fas fa-truck-moving"></i>
                  </div>
                  <div class="col-auto me-auto large-text">Delivery express</div>
                </div>
              </div>
              <div class="col-lg-3 col me-auto large-holder">
                <div class="row">
                  <div class="col-auto ms-auto large-icon">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="col-auto me-auto large-text">
                    Productos originales
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- Main Content -->
      </div>

      <div class="col-12 align-self-end">
        <!-- Footer -->
        <footer class="row">
          <div class="col-12 bg-dark text-white pb-3 pt-5">
            <div class="row">
              <div
                class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3"
              >
                <div class="row">
                  <div class="col-12">
                    <div class="footer-logo">
                      <a href="index.html">Music Pro</a>
                    </div>
                  </div>
                  <div class="col-12">
                    <address>
                      Duoc UC<br />
                      Padre alonso Ovalle
                    </address>
                  </div>
                  <div class="col-12">
                    <a href="#" class="social-icon"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a href="#" class="social-icon"
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a href="#" class="social-icon"
                      ><i class="fab fa-pinterest-p"></i
                    ></a>
                    <a href="#" class="social-icon"
                      ><i class="fab fa-instagram"></i
                    ></a>
                    <a href="#" class="social-icon"
                      ><i class="fab fa-youtube"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-9 col-sm-8 text-center text-sm-left mb-sm-0 mb-3"
              >
                <div class="row">
                  <div class="col-12 text-uppercase">
                    <h4>¿Quienes somos?</h4>
                  </div>
                  <div class="col-12 text-justify">
                    <p>
                      ¡Bienvenidos a MUSICPRO, tu distribuidora de instrumentos y accesorios musicales de confianza!

Desde 1988, en MUSICPRO hemos estado comprometidos con el apasionante mundo de la música y nos enorgullece ser parte del crecimiento y evolución de la industria de fabricación de instrumentos musicales en Chile. Nuestra tienda central, ubicada en Providencia, Santiago de Chile, ha sido el punto de partida de nuestra trayectoria, y a lo largo de los años hemos expandido nuestras sedes para abarcar diferentes áreas de la región metropolitana.

¡Gracias por elegir MUSICPRO! Esperamos ser parte de tu viaje musical y ayudarte a encontrar el instrumento perfecto para crear la música que te inspira.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-2 col-sm-3 col-5 ms-lg-auto ms-sm-0 ms-auto mb-sm-0 mb-3"
              >
              </div>
              <div class="col-lg-1 col-sm-2 col-4 me-auto mb-sm-0 mb-3">
                <div class="row">
              </div>
            </div>
          </div>
        </footer>
        <!-- Footer -->
      </div>
    </div>

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script src="../static/scripts.js"></script>
  </body>
</html>
