{% extends 'index.html' %} {% block content %}
<!-- Main Content -->
<main class="row">
    <div class="col-12 bg-white py-3 my-3">
        <div class="row">
            <!-- Product Images -->
            <div class="col-lg-5 col-md-12 mb-3">
                <div class="col-12 mb-3">
                    <div class="img-large border" style="background-image: url('{{ producto.imagen_producto }}')"></div>
                </div>
            </div>
            <!-- Product Images -->

            <!-- Product Info -->
            <div class="col-lg-5 col-md-9">
                <div class="col-12 product-name large">
                    {{ producto.nombre_producto }}
                    <small>By <a href="#">{{ producto.marca_producto }}</a></small>
                </div>
                <div class="col-12 px-0">
                    <hr />
                </div>
                <div class="col-12">
                    <ul>
                        <li>Color: {{ producto.color_producto }}</li>
                        <li>Precio: ${{ producto.precio_producto }}</li>
                        <!-- Otros detalles del producto -->
                    </ul>
                </div>
            </div>
            <!-- Product Info -->

            <!-- Sidebar -->
            <div class="col-lg-2 col-md-3 text-center">
                <div class="col-12 sidebar h-100">
                    <div class="row">
                        <div class="col-12">
                            <span class="detail-price"> ${{ producto.precio_producto }} </span>
                            <!-- Otros detalles del precio -->
                        </div>
                        <div class="col-12 mt-3">
                            <form action="{{ url_for('agregar_al_carrito') }}" method="post">
                                <input type="hidden" name="producto_id" value="{{ producto.id_producto }}" />
                                <input type="hidden" name="nombre" value="{{ producto.nombre_producto }}" />
                                <input type="hidden" name="precio" value="{{ producto.precio_producto }}" />
                                <button class="btn btn-outline-dark" type="submit">
                                    <img
                                        src="../static/images/icons8-agregar-a-carrito-de-compras-32.png"
                                        alt="dinero"
                                        class="img-fluid"
                                    />
                                    Agregar al carrito
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
</main>
<!-- Main Content -->
{% endblock %}
